body{font-family: 'Poppins', sans-serif;
margin: 0px;}

.bang-1{
    color: green;
}



.heading-start{
    color: rgb(108, 79, 216);
}

.first-div{
    text-align: center;
    background-image: url(images/BANGLADESH.png);
    background-repeat: no-repeat;
    border-radius: 40px;
background-size:1600px 200px;
box-shadow: 0 0 30px rgb(23, 119, 31);
}

.shitakunda-img{
    width: 163px;
    height: 170px;}

    .flexible-container{
        display: flex;
        margin-bottom: 20px;
    }

    .container-width{
        width: 50%;
        box-shadow: 0 0 30px rgb(23, 119, 31);
        padding: 25px;
        border-radius: 80px;
        margin: 20px;
        
        border-left: 7px ;
        border-top: 7px ;
        border-right: 7px ;
       
    }

    .chattogram{
        text-align: center;
    background-image: url(images/nature1.jpg);
    background-repeat: no-repeat;
    background-size:1600px 200px;
    border-radius: 40px;
    box-shadow: 0 0 30px rgb(23, 119, 31);
    color: rgb(245, 7, 7);
   }
  
   
  

    .second-div{
        background-image: url(images/b1.png);
        background-repeat: no-repeat;
        border-radius: 60px;
        box-shadow: 0 0 30px rgb(23, 119, 31);
    }









    footer{
        text-align: center;
        color: chartreuse;
    }